---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION} lang="en">
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        Fausto Moya
      </h1>
      <div class="space-y-16">
        <section class="space-y-4">
          <article>
            <span class="animate">
              <p>
                I <strong> designed, developed and deployed</strong> software for
                diverse environments, from fast-moving startups to companies serving
                millions. I thrive on turning <strong>complex challenges</strong
                >
                into <strong>meaningful solutions</strong>, demonstrated across
                industries like fintech, logistics, and food delivery.
              </p>
            </span>
            <span class="animate">
              <p>
                My journey has taken me from 🇦🇷 <strong>Argentina</strong> to exploring
                new horizons in 🇳🇱 <strong>The Netherlands</strong>, gaining
                valuable experience and building a second home. Here, I'm
                currently <strong>improving scheduling</strong> and <strong
                  >employee experience</strong
                > for 1,270+ stores at <a
                  href="https://www.aholddelhaize.com/about"
                  target="_blank">Ahold Delhaize</a
                >. Previously, I played a key role in <strong
                  >cutting CO₂ emissions</strong
                > with <a
                  href="https://www.routescanner.com/about"
                  target="_blank">Routescanner</a
                > and delivered significant value at companies like <a
                  href="https://news.mercadolibre.com/acercade">Mercado Libre</a
                >, <a href="https://www.uala.com.ar/nosotros" target="_blank"
                  >Ualá</a
                >, and <a
                  href="https://about.rappi.com/about-us"
                  target="_blank">Rappi</a
                >.
              </p>
            </span>
            <span class="animate">
              <p>
                Outside of work, I volunteer my time <strong>tutoring</strong> university
                students in programming, databases, and testing. This passion for
                sharing knowledge led me to create this blog – a resource aimed at
                boosting everyone I've tutored and supporting the
                <strong> Spanish-speaking</strong> software engineering community!
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                Email
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
